
@font-face {
    font-family: "Oleo Script";
    font-style: normal;
    font-weight: 700;
    src: url("https://fonts.gstatic.com/s/oleoscript/v14/raxkHieDvtMOe0iICsUccCDmnlrf0Ts.woff2") format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+0304, U+0308, U+0329, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
@font-face {
    font-family: "Dancing Script";
    font-style: normal;
    font-weight: 400 700;
    src: url("https://fonts.gstatic.com/s/dancingscript/v25/If2RXTr6YS-zF4S-kcSWSVi_szLgiuE.woff2") format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+0304, U+0308, U+0329, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
}
.header {
    background-color: rgb(137, 115, 88);
    display: flex;
    padding: 10px 30px;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    position: fixed;
    z-index: 999;
}
.header .left {
    text-align: right;
    margin-left: 39px;
}
.header .left .yazi {
    position: absolute;
    top: 45px;
    left: 115px;
    font-family: Oleo Script;
    color: rgb(224, 203, 171);
    font-size: 30px;
    cursor: pointer;
}
.header .yazi:hover {
    color: yellow;
}
.header img {
    width: 60px;
    height: 60px;
    margin-left: 100%;
}
.header ul {
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 60px;

}
.header a {
    color: rgb(224, 203, 171);
    font-size: 23px;
    font-family: Dancing Script;
}
.header a:hover {
    color: yellow;
}
.header .box {
    width: 45px;
    height: 45px;
    background-color: aliceblue;
    border-radius: 80px;
    background-color: rgb(224, 203, 171);
    position: absolute;
    top: 27px;
    right: 200px;
}
.header .box:hover {
    background-color: white;
}
.header .right img {
    border-radius: 40px;
    width: 30px;
    height: 30px;
    position: absolute;
    top: 34px;
    right: 207px;
}
.isiq img {
    position: absolute;
    top: 67px;
    right: 108px;
    width: 200px;
    height: 200px;

}
.first {
    background-image: linear-gradient(rgba(0,0,0,0.58),rgba(0,0,0,0.58)), url("photo-1618221195710-dd6b41faaea6.avif");
    background-size: cover;
    width: 100%;
    height: 100vh;
    background-repeat: no-repeat;
    background-position: center;
}
.first h1 {
    font-family: Oleo Script;
    position: absolute;
    right: 30%;
    top: 42%;
    color: rgb(224, 203, 171);
    font-size: 60px;

}
.second h1 {
    font-family: Oleo Script;
    position: absolute;
    right: 35%;
    top: 53%;
    color: rgb(224, 203, 171);
    font-size: 60px;
}
.third h5 {
    font-family: Oleo Script;
    position: absolute;
    right: 25%;
    left: 28%;
    top: 66%;
    color: rgb(204, 203, 171);
    font-size: 15px;
}
.products .property h2 {
    color: rgb(68, 66, 64);
    font-family: Oleo Script;
    display: flex;
    justify-content: center;
    margin-top: 40px;
    font-size: 40px;
}
.products .vulnerable {
    color: rgb(68, 66, 64);
    margin: 12px 332px;
    font-family: Oleo Script;
}
.products .bottom {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    margin-left: 50px;
    margin-right: 50px;
}
.products .card {
    text-align: center;
    width: 20%;
    border: 1px solid black;
    margin: 20px;
    border-radius: 20px;
    position: relative;

}
.products .card i{
    position: absolute;
    top: 10px;
    right: 10px;
}
.card .card-bot ul button:hover{
    background-attachment: #787358;
}
.products img {
    width: 100%;
    border-radius: 20px 20px 0 0;
}
.products ul {
    display: flex;
    justify-content: space-between;
    margin: 30px;
}
.products button {
    background-color: rgb(68, 66, 64);
    padding: 10px 20px;
    border: none;
    border-radius: 10px;
    cursor: pointer;
}

.products a {
    color: rgb(224, 203, 171);
    font-weight: bold;
}
.products .card-bot {
    font-weight: bold;
    font-family: Oleo Script;
}
.dam{
    background-image: linear-gradient(rgba(0,0,0,0.78),rgba(0,0,0,0.78)), url("ikinci.avif");
    background-size: cover;
    width: 100%;
    height: 100vh;
    background-repeat: no-repeat;
    background-position: center;
}
.dam h1{
    color: rgb(224, 203, 171);
    display: flex;
    justify-content: center;
    padding-top: 160px;
    font-size: 80px;
    font-family: Oleo Script;
}
.dam h2{
    color: rgb(224, 203, 171);
    display: flex;
    justify-content: center;
    font-size: 50px;
    padding-top: 3px;
    font-family: Oleo Script;
}
.dam h5{
    font-family: Oleo Script;
   display: flex;
   justify-content: center;
   padding-top: 40px;
    color: rgb(204, 203, 171);
    font-size: 15px;
}
.about h3{
    padding-top: 60px;
    padding-left: 150px;
    font-family: "Oleo Script";
    font-size: 20px;
}
.about h5{
    margin-left: 147px;
    margin-right: 650px;
    margin-top: 20px;
}
.about .bir img{
    width: 60px;
    height: 60px;

}
.about .iki img{
    width: 60px;
    height: 60px; 

}
.about .right img{
    width: 450px;
    position: absolute;
    top: 2330px;
    left: 850px;
}
.bottom .card i {
    
    color: red;
    font-size: 24x;
}
.About {
    padding: 2rem 1rem;
    display: flex;
    justify-content: space-between;
}
.About .left{
    width: 50%;
    padding: 1rem;
  
}
.About .left h3{
    font-size: 40px;
    margin: 1rem 0;
    font-family: "Oleo Script", system-ui;
}
.about .left p{
    font-family: "Oleo Script", system-ui;
  font-style: italic;
  font-size: 20px;
  margin-top: 1rem;
  text-align: justify;
  z-index: 11111;
  font-weight: 600;
}
.about .right{
    width: 50%;

}
.about .right img{
    width: 550px;
    height: 500px;
}


